@use "../utilities/variables";


footer{
    color: white;
    background-color: variables.$plannit-coral;
    padding: 10px;
}

.nav-link-footer {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.footer-social-links {
    color: white;
    font-size: 40px;
}