@use "../utilities/extend";
@use "../utilities/variables";

/* .description-page{
    @extend %page;

}
 */
 .page-general{

    h1{   
        margin-bottom: 25px;
        padding: 35px 500px 35px 50px ;
        background-color: #FFE29F;
        font-weight: bold;
        font-size: 45px;
    }
    div{
        margin: 10px 0;
        h2{
            font-weight: bold;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        p{
            font-size: 24px ;
            
        }
    }              



}


.testimonios{
    font-size: 24px ;    
    border: 2px solid variables.$light-grey;
    border-radius: 10px;
    border-style: dashed;
    margin-bottom: 40px;
    img{
       width: 400px; 
       padding: 10px;
       border-radius: 20px
    }
    p{
        margin: 30px;
    }
}

.places{
    
    h2{
        font-size: 32px ;    
        border: 2px solid variables.$light-grey;
        border-radius: 10px;
        border-style: dashed;
        padding: 10px;
        font-weight: bold;
    }
    div{
        border: 2px solid variables.$light-grey;
        border-radius: 10px;
        border-style: dashed;
        padding: 10px;
        p{
            font-size: 24px ;    
        }
        h3{
            border: 2px solid variables.$light-grey;
            border-radius: 10px;
            border-style: dashed;
            padding: 10px;
            background-color: aliceblue;
            font-size: 24px ;   
        }
    }


}

.link-contact{
    color: variables.$plannit-coral;
    text-decoration: none;
} 