@use "../utilities/mixins";
@use "../utilities/extend";
@use "../utilities/variables";



/* 80805 88125 */

/* .description-page{
    @extend %page;

}
 */

 .lista-capacidades{
    display: grid;
    grid-template-columns: 7fr 5fr;
    div{
       padding: 10px;
    }
}


.lista-testimonios{
    @include mixins.card-alternada(variables.$plannit-white, 24px, dashed, variables.$light-grey, 20%);
}


 .page-general{

    @include mixins.main-layout(variables.$plannit-orange, 45px, variables.$plannit-white ,32px, 24px);

}

@media (max-width: 1000px){
    .page-general{
        @include mixins.main-layout(variables.$plannit-orange, 32px, variables.$plannit-white ,24px, 16px);      
    }

    .lista-capacidades{
        display: block;
        text-align: left;
        div{
        padding: 10px;
        }
    }
}

.places{
    
    h2{
        font-size: 32px ;    
        border: 2px solid variables.$light-grey;
        border-radius: 10px;
        border-style: dashed;
        padding: 10px;
        font-weight: bold;
    }
    div{
        border: 2px solid variables.$light-grey;
        border-radius: 10px;
        border-style: dashed;
        padding: 10px;
        p{
            font-size: 24px ;    
        }
        h3{
            border: 2px solid variables.$light-grey;
            border-radius: 10px;
            border-style: dashed;
            padding: 10px;
            background-color: aliceblue;
            font-size: 24px ;   
        }
    }


}

.link-contact{
    color: variables.$plannit-coral;
    text-decoration: none;
} 

.frm{
    font-size: 24px;
    margin: 20px;
}