.logo{
    width: 256px;
}

.logo-mobile{
    width: 150px;
    border-color: transparent;
    margin-left: 20px;
}

.index-main-image{
    width: 100%;
}

.acerca-main-image{
    width: 1000px;
}

.recs-image{
    width:1300px;
}