@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Instrument Sans", sans-serif;
  color: black;
  margin-top: 200px;
}

/*font-family: "Instrument Sans", sans-serif;*/
footer {
  color: white;
  background-color: #D86363;
  padding-bottom: 25px;
  font-size: 24px;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.footer-social-links {
  color: white;
  font-size: 40px;
}

header {
  margin: 0px;
}

nav div {
  background-color: white;
}

.nav-li {
  list-style-type: none;
}

.nav-extra {
  display: block;
}

.nav-style {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 2px solid rgb(151, 151, 151);
  border-bottom: 2px solid rgb(151, 151, 151);
}

.nav-icon {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
}

.nav-account-text {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
}

.nav-active-margin {
  border-bottom: 6px solid #D86363;
}

@keyframes hover-transition {
  0% {
    border-bottom-color: rgba(151, 151, 151, 0);
  }
  20% {
    border-bottom-color: rgba(151, 151, 151, 0.2);
  }
  40% {
    border-bottom-color: rgba(151, 151, 151, 0.4);
  }
  60% {
    border-bottom-color: rgba(151, 151, 151, 0.6);
  }
  80% {
    border-bottom-color: rgba(151, 151, 151, 0.8);
  }
  100% {
    border-bottom-color: rgb(151, 151, 151);
  }
}
.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-link:hover {
  border-bottom: 6px solid rgb(151, 151, 151);
  animation-name: hover-transition;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
}

.mobile-nav {
  border-color: transparent;
}

.error-message, .confirm-message {
  font-weight: bold;
  font-size: 28px;
}

.error-message {
  background-color: #ffabab;
}

.confirm-message {
  background-color: #E7FED5;
}

/* 80805 88125 */
/* .description-page{
    @extend %page;

}
 */
.lista-capacidades {
  display: grid;
  grid-template-columns: 7fr 5fr;
}
.lista-capacidades div {
  padding: 10px;
}

.lista-testimonios {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.lista-testimonios article {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 24px;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 10px;
  border-style: dashed;
  margin-bottom: 40px;
}
.lista-testimonios article img {
  width: 400px;
  padding: 10px;
  border-radius: 20px;
}
.lista-testimonios article div p {
  margin: 30px;
}
.lista-testimonios article:nth-child(odd) {
  margin-left: 20%;
}
.lista-testimonios article:nth-child(even) {
  margin-right: 20%;
}
@media (max-width: 1000px) {
  .lista-testimonios article {
    display: block;
    text-align: center;
  }
  .lista-testimonios article:nth-child(odd) {
    margin-left: 0%;
  }
  .lista-testimonios article:nth-child(even) {
    margin-right: 0%;
  }
}

.page-general h1 {
  margin-bottom: 25px;
  padding: 35px 500px 35px 50px;
  background-color: #FFE29F;
  font-weight: bold;
  font-size: 45px;
}
.page-general div {
  margin: 10px 0;
  background-color: white;
}
.page-general div h2 {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.page-general div p {
  font-size: 24px;
}
@media (max-width: 1000px) {
  .page-general h1 {
    padding: 30px 0px 30px 30px;
  }
}

@media (max-width: 1000px) {
  .page-general h1 {
    margin-bottom: 25px;
    padding: 35px 500px 35px 50px;
    background-color: #FFE29F;
    font-weight: bold;
    font-size: 32px;
  }
  .page-general div {
    margin: 10px 0;
    background-color: white;
  }
  .page-general div h2 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .page-general div p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .page-general h1 {
    padding: 30px 0px 30px 30px;
  }
}
@media (max-width: 1000px) {
  .lista-capacidades {
    display: block;
    text-align: left;
  }
  .lista-capacidades div {
    padding: 10px;
  }
}
.places h2 {
  font-size: 32px;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 10px;
  border-style: dashed;
  padding: 10px;
  font-weight: bold;
}
.places div {
  border: 2px solid rgb(151, 151, 151);
  border-radius: 10px;
  border-style: dashed;
  padding: 10px;
}
.places div p {
  font-size: 24px;
}
.places div h3 {
  border: 2px solid rgb(151, 151, 151);
  border-radius: 10px;
  border-style: dashed;
  padding: 10px;
  background-color: aliceblue;
  font-size: 24px;
}

.link-contact {
  color: #D86363;
  text-decoration: none;
}

.frm {
  font-size: 24px;
  margin: 20px;
}

.logo {
  width: 256px;
}

.logo-mobile {
  width: 150px;
  border-color: transparent;
  margin-left: 20px;
}

.index-main-image {
  width: 100%;
}

.acerca-main-image {
  width: 1000px;
}

.recs-image {
  width: 1300px;
}

@media (max-width: 450px) {
  .recs-image {
    width: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
